<div class="container mat-elevation-z8">
  <h2 class="mat-h2">Create New product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name" required>
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>quantity</mat-label>
      <input matInput type="number" formControlName="quantity" placeholder="Enter your quantity" required>
      <mat-error *ngIf="productForm.get('quantity')?.hasError('required')">
        quantity is required
      </mat-error>
      <mat-error *ngIf="productForm.get('quantity')?.hasError('min')">
       quantity > 1 
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>price</mat-label>
      <input matInput type="number" formControlName="price" placeholder="Enter product price" required>
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        price is required
      </mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('min')">
       quantity > 0
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
      Create product
    </button>
  </form>
</div>
